[user]
	name = Yangmoooo
	email = yangmoooo@outlook.com

# [http]
# 	proxy = http://127.0.0.1:7897

# [https]
# 	proxy = http://127.0.0.1:7897

[help]
	autocorrect = 2

[core]
	editor = vim

[init]
	defaultBranch = main

[color]
	ui = auto

[pull]
	rebase = true

[credential]
	helper = cache --timeout=3600

[alias]
	# 基础快捷指令
	co = checkout
	br = branch
	sw = switch
	ci = commit
	st = status
	s = status -s
	f = fetch
	rs = remote show

	# 切换到新分支
	new = switch -c

	# 增强版 log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	# 查看所有分支
	bra = branch -avv

    # 撤销
    unstage = restore --staged .
    undo = reset HEAD~1
    last = log -1 HEAD

    # 修改
    amend = commit --amend --no-edit

    workflow = "!f() { \
        C_BLUE='\\e[34m'; \
        C_GREEN='\\e[32m'; \
        C_YELLOW='\\e[33m'; \
        C_RED='\\e[31m'; \
        C_CYAN='\\e[36m'; \
        C_RESET='\\e[0m'; \
        \
        echo ''; \
        echo -e \"${C_BLUE}# Git Workflow Cheatsheet${C_RESET}\"; \
        echo ''; \
        \
        echo -e \"${C_BLUE}## Core${C_RESET}\"; \
        echo ''; \
        echo -e \"1. ${C_GREEN}Check Status:${C_RESET}                 git status\"; \
        echo -e \"2. ${C_GREEN}Sync Remote:${C_RESET}                  git pull --rebase\"; \
        echo -e \"3. ${C_GREEN}Stage:${C_RESET}                        git add .\"; \
        echo -e \"4. ${C_GREEN}Commit:${C_RESET}                       git commit -m \\\"type(scope): summary\\\"\"; \
        echo -e \"5. ${C_GREEN}Push Commits:${C_RESET}                 git push\"; \
        echo -e \"6. ${C_GREEN}Create Tag:${C_RESET}                   git tag -a vX.Y.Z -m \\\"release message\\\"\"; \
        echo -e \"7. ${C_GREEN}Push Tag:${C_RESET}                     git push origin vX.Y.Z\"; \
        echo ''; \
        \
        echo -e \"${C_BLUE}## Branch${C_RESET}\"; \
        echo ''; \
        echo -e \"- ${C_CYAN}List branches:${C_RESET}                 git branch -avv\"; \
        echo -e \"- ${C_CYAN}Create new branch:${C_RESET}             git switch -c <branch-name>\"; \
        echo -e \"- ${C_CYAN}Switch to branch:${C_RESET}              git switch <branch-name>\"; \
        echo -e \"- ${C_CYAN}Rename current branch:${C_RESET}         git branch -m <new-name>\"; \
        echo -e \"- ${C_CYAN}Delete local branch:${C_RESET}           git branch -d <branch-name>\"; \
        echo -e \"- ${C_CYAN}Delete remote branch:${C_RESET}          git push origin --delete <branch-name>\"; \
        echo ''; \
        \
        echo -e \"${C_BLUE}## Undo${C_RESET}\"; \
        echo ''; \
        echo -e \"- ${C_RED}Discard changes in files:${C_RESET}      git restore <file>\"; \
        echo -e \"- ${C_RED}Unstage files:${C_RESET}                 git restore --staged <file>\"; \
        echo -e \"- ${C_RED}Edit last commit:${C_RESET}              git commit --amend [--no-edit]\"; \
        echo -e \"- ${C_RED}Undo last commit:${C_RESET}              git reset HEAD~1\"; \
        echo -e \"- ${C_RED}Revert commit:${C_RESET}                 git revert <commit-hash>\"; \
        echo -e \"- ${C_RED}Delete local tag:${C_RESET}              git tag -d <tag-name>\"; \
        echo -e \"- ${C_RED}Delete remote tag:${C_RESET}             git push origin --delete <tag-name>\"; \
        echo ''; \
        \
        echo -e \"${C_BLUE}## Conventional Commit Types${C_RESET}\"; \
        echo ''; \
        echo -e \"- ${C_YELLOW}feat:${C_RESET}        A new feature\"; \
        echo -e \"- ${C_YELLOW}fix:${C_RESET}         A bug fix\"; \
        echo -e \"- ${C_YELLOW}docs:${C_RESET}        Documentation only changes\"; \
        echo -e \"- ${C_YELLOW}style:${C_RESET}       Code style changes (formatting, etc)\"; \
        echo -e \"- ${C_YELLOW}refactor:${C_RESET}    A code change that neither fixes a bug nor adds a feature\"; \
        echo -e \"- ${C_YELLOW}perf:${C_RESET}        A code change that improves performance\"; \
        echo -e \"- ${C_YELLOW}test:${C_RESET}        Adding missing or correcting existing tests\"; \
        echo -e \"- ${C_YELLOW}chore:${C_RESET}       Changes to the build process or auxiliary tools\"; \
        echo -e \"- ${C_YELLOW}revert:${C_RESET}      Reverts a previous commit\"; \
        echo ''; \
        \
    }; f"
