[user]
    name = Yangmoooo
    email = yangmoooo@outlook.com

# [http]
#     proxy = http://127.0.0.1:7897

# [https]
#     proxy = http://127.0.0.1:7897

[help]
    autocorrect = 2

[core]
    editor = vim

[init]
    defaultBranch = main

[color]
    ui = auto

[pull]
    rebase = true

[credential]
    helper = cache --timeout=3600

[alias]
    # 基础快捷指令
    co = checkout
    br = branch
    sw = switch
    ci = commit
    st = status
    s = status -s
    f = fetch
    rs = remote show

    # 切换到新分支
    new = switch -c

    # 增强版 log
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    # 查看所有分支
    bra = branch -avv

    # 撤销
    unstage = restore --staged .
    undo = reset HEAD~1
    last = log -1 HEAD

    # 修改
    amend = commit --amend --no-edit
        
    # 其他
    ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
    cheatsheet= "!cs() { \
        echo ''; \
        \
        echo -e \"- list branches:                 git branch -avv\"; \
        echo -e \"- create new branch:             git switch -c <branch-name>\"; \
        echo -e \"- switch to branch:              git switch <branch-name>\"; \
        echo -e \"- rename current branch:         git branch -m <new-name>\"; \
        echo -e \"- delete local branch:           git branch -d <branch-name>\"; \
        echo -e \"- delete remote branch:          git push origin --delete <branch-name>\"; \
        echo -e \"- discard changes in files:      git restore <file>\"; \
        echo -e \"- unstage files:                 git restore --staged <file>\"; \
        echo -e \"- edit last commit:              git commit --amend [--no-edit]\"; \
        echo -e \"- undo last commit:              git reset HEAD~1\"; \
        echo -e \"- revert commit:                 git revert <commit-hash>\"; \
        echo -e \"- delete local tag:              git tag -d <tag-name>\"; \
        echo -e \"- delete remote tag:             git push origin --delete <tag-name>\"; \
        echo ''; \
        echo -e \"Conventional Commit: feat | fix | refactor | chore | perf | test | style | docs | revert\"; \
        echo -e \"Conventional Branch: feature | bugfix | hotfix | chore | release\"; \
        echo ''; \
        echo -e \"01. gh issue create\"; \
        echo -e \"02. git switch main\"; \
        echo -e \"03. git pull\"; \
        echo -e \"04. git switch -c feature/issue-1-foo-bar\"; \
        echo ''; \
        echo -e \"05. git add .\"; \
        echo -e \"06. git commit -m \\\"feat: ... (close #1)\\\"\"; \
        echo -e \"07. loop git add commit\"; \
        echo ''; \
        echo -e \"08. gh pr create\"; \
        echo -e \"09. gh pr merge\"; \
        echo ''; \
        echo -e \"10. git tag -a vX.Y.Z -m \\\"Release vX.Y.Z: ...\\\"\"; \
        echo -e \"11. git push origin vX.Y.Z\"; \
        echo ''; \
        \
    }; cs"
